<?php

?>
<div style="display: none" id="popup-modal">
    <div id="minicart-content-wrapper-demo">
        <div>Subtotal price of number items in cart:  <span id="subtotal"></span>$</div>
    </div>
</div>
